body {
    font-size:16px;
    color:#660000;
    margin: 0;
}

.container {
    overflow: hidden;
}

h1 {
    font-size:20px;
    font-style:bold;
    background:#990000;
    color:white;
    padding:5px 10px;
}
 
#header {
    font-size:9px;
    color:#666666;
    text-align:center;
}
 
#footer {
    font-size:9px;
    color:#666666;
    text-align:right;
    border:1px solid #999999;
    border-width:1px 0px 0px 0px;
    margin: 50px 0px 0px 0px;
}

.large-3.medium-4.columns {
    background: #23282d;
    color: #fff;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding-bottom: 32768px; 
    margin-bottom: -32768px;
}
.side-nav li {
    list-style-type: none;
}

.side-nav li a {
    color: #fff;
}

.sample.index.large-9.medium-8.columns.content {
    display: inline-block;
    width: 70%;
    padding: 3% 3% 0 3%;
}
h3 {
    background: #23282d;
    margin: 0;
    padding: 2% 0 2% 3%;
    color: #fff;
}
table {
    width: 100%;
}

th {
    text-align: left;
}

th a {
    color: #000;
    text-decoration: none;
}

th a:hover,td a:hover {
    opacity: .7;
}

td {
    border:1px solid #cccccc;
    padding: 1% 0 1% 3%;
    width: 33%;
}

a {
    text-decoration: none;
}

.actions a {
    padding-right: 3%;
}

td a {
    color: #8d0000;
}

.pagination {
    overflow: hidden;
    clear: both;
    text-align: center;
    padding: 0;
}

.pagination li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
    padding: 2px;
}
.pagination li a {
    padding: 5px 12px;
    background: #e1ebfa;
    border: 1px solid #339;
    color: #000;
    text-decoration: none;
}